/* Globals */
:root {
    /* Fonts */
    --main-font: ;
    --sub-font: ;

    /* Colors */
    --green: rgb(0, 192, 0);
    --black: rgb(44, 42, 42);
    --white: rgb(243, 240, 240);
}

/* Apply a natural box layout model to all elements, 
but allowing components to change */
*,
::before, 
::after {
    box-sizing: border-box;
}

/* Reset */
body {
    margin: 0;
    padding: 0;
}

/* Fixed header */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100%;
    
    font-family: var(--main-font);
    font-size: 2em;
    background-color: var(--green);
}

#navbar > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    /* Flexbox */
    display: flex;
}

#navbar > ul li {
    margin: 0px 20px;
    padding: 10px 10px;
}

.Portfolio {
    flex: 1;
}

.Portfolio p {
    margin: 0px;
    padding: 0px;
}

#navbar a {
    text-decoration: none;
    color: var(--black);
}

#navbar .link:hover {
    background-color: var(--white);
}

/* Content styling */
main {
    margin-top: 50px;
}

/* Welcome Section */
#welcome-section {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    color: var(--green);
    background-color: var(--black);
}

#welcome-section h1 {
    font-size: 3em;
    margin: 0px;
}

#welcome-section p {
    font-size: 2em;
}

/* Projects Section */
#projects {
    padding: 5em 3em;
    background: var(--white);
}

#projects h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto 1em auto;;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: space-around;

    grid-gap: 3em;
    width: 100%;
    margin: 0 auto 5em auto;
}

.project-tile {
    justify-self: center;
    margin: 20px;
    text-decoration: none;
}

.project-tile img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.project-tile p {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--green);
}

/* Contact section */
#contact {
    width: 100%;
    height: 100vh;
    padding: 0 2em;

    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: var(--black);
}

#contact-header h1 {
    font-size: 3em;
    margin: 0px;
    color: var(--white);
}

#contact-header p {
    font-size: 2em;
    color: var(--white);
}

.links {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    margin: 3em;
}

.links a {
    text-decoration: none;
    color: var(--white);
}

.contact-details {
    display: inline-block;
    padding: 1rem 2rem;

    font-size: 2.5rem;
    transition: transform 0.15s ease-in;
}

.contact-details:hover {
    transform: translateY(-10px);
    color: var(--green);
}
